title: Ashita AI
description: an island of misfit data tools
url: "https://ashita.ai"
baseurl: ""

# Social/Open Graph
og_image: /assets/images/ashita.jpg

# Build settings
markdown: kramdown
highlighter: rouge
permalink: /blog/:slug/

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: false

# Collections
collections:
  projects:
    output: true
    permalink: /projects/:name/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"

# Exclude from build
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - .git
  - .gitignore
